<div class="route-container">
  <div class="route-content">
      <div class="dropdown">
        <a class="dropdown-btn">Bus Route</a>
        <ul class="dropdown-content">
          <li v-for="(busRouteEl, index) in busTimetable[year]">
            <router-link :to="routeForRoute(busRouteEl.getId())">{{ busRouteEl.getName() }}</router-link>
          </li>
        </ul>
      </div>
      <div class="dropdown">
        <a class="dropdown-btn">Time Range</a>
        <ul class="dropdown-content">
          <li v-for="(busTime, index) in getTimesById(busRoute)" v-if="busTime.length > 1">
            <router-link :to="routeForTime(index)">{{ prettyTime(busTime[0]) }} - {{ prettyTime(busTime[busTime.length - 1]) }}</router-link>
          </li>
        </ul>
      </div>
      <div class="dropdown">
        <a class="dropdown-btn">Origin Stop</a>
        <ul class="dropdown-content">
          <li v-for="(busOrigin, index) in getStopsRange(getBusById(busRoute))">
            <router-link v-bind:class="{ outOfBounds: busOrigin.out }" :to="routeForOrigin(index)">{{ busOrigin.name }}</router-link>
          </li>
        </ul>
      </div>
      <div class="dropdown">
        <a class="dropdown-btn">Destination Stop</a>
        <ul class="dropdown-content">
          <li v-for="(busDest, index) in getStopsRange(getBusById(busRoute))">
            <router-link v-bind:class="{ outOfBounds: busDest.out }" :to="routeForDest(index)">{{ busDest.name }}</router-link>
          </li>
        </ul>
      </div>
  </div>
  <div class="route-content"></div>
</div>
