<div class="plate-container">
  <div class="content-plate">
    <div>
      <div class="busroute-drop">
        <button class="busroute-btn">Bus Route</button>
        <div class="busroute-content">
          <button v-for="(busRoutes, index) in busTimetable[selection.yearId]">{{ busRoutes.getName() }}</button>
        </div>
      </div>
      <div class="busorigin-drop">
        <button class="busorigin-btn">Origin Stop</button>
        <div class="busorigin-content">
          <!-- TODO: Instead of using the normal bus route table calculate the stops you can get that day using a computation. -->
          <button v-for="busOrigin in selection.timeSelection">{{ busOrigin.time }}</button>
        </div>
      </div>
      <div class="busdestination-drop">
        <button class="busdestination-btn">Destination Stop</button>
        <div class="busdestination-content">
          <!-- TODO: Instead of using the normal bus route table calculate the stops you can get that day using a computation. -->
          <button v-for="busDest in selection.timeSelection">{{ busDest.time }}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="content-plate"></div>
</div>
